<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9090" />
    </include>

    <!-- Declare arguments with default values -->
    <arg name="name" default="set_angles" />
    <arg name="device" default="gx5" />

    <!-- <node name="set_angles" pkg="commander" type="setAngles.py" output="screen" ns="$(arg name)">
        <param name="device" value="$(arg device)" type="str" />
    </node> -->

    <!-- Params for min max angles -->
    <!-- 0.523599 rads === 30 degrees -->
    <param name="pitch/min" value="-0.523599" />
    <param name="pitch/max" value="0.523599" />

    <param name="yaw/min" value="-0.523599" />
    <param name="yaw/max" value="0.523599" />

    <param name="origin/lat" value="36.102764" />
    <param name="origin/long" value="-115.160969" />

    <param name="consumption/energy/graph/enabled" value="false" />
    <param name="consumption/water/graph/enabled" value="false" />
    <param name="distance/graph/enabled" value="false" />


</launch>